/* Estos son mis estilos */

h1 {
    color: brown;
}
img {
    width: 400px;
}
#thirdDiv {
    background-color: coral;
    height: 500px;
    width: 600px;
    padding: 50px;
    border: 10px gold double;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

div {
    /*display: flex;*/
    position:relative;
    top: 200px;
    left: 110px;
}